/* ========================================
CONFLICTING TOAST NOTIFICATIONS
======================================== */
.toast {
position: absolute;
top: 20px;
left: 20px;
background: rgba(59,130,246,0.8);
backdrop-filter: blur(5px);
color: black;
padding: 20px 25px;
border-radius: 10px;
box-shadow: 0 4px 15px rgba(0,0,0,0.5);
z-index: 5000;
animation: fadeDown 0.5s;
border: 2px solid rgba(0,0,0,0.3);
}

.toast.error {
background: rgba(139,92,246,0.85);
}

.toast.warning {
background: rgba(245,94,77,0.85);
}

@keyframes fadeDown {
from {
transform: translateY(-200px);
opacity: 0;
}
to {
transform: translateY(0);
opacity: 1;
}
}

@keyframes fadeUp {
from {
transform: translateY(0);
opacity: 1;
}
to {
transform: translateY(-200px);
opacity: 0;
}
}
